table.thread_list_table {width: 1100px;}
input#wd1{height: 32px !important;width: 200px;}
a#add_post_btn{width: 90px;}
a.s_logo{width: 117px !important; height: 38px !important; background: url("/f_files/tieba_logo_117_38.png") !important; display: block !important}